[core]
	excludesfile = ~/.gitignoreglobal
	hookspath = /home/user/.git/hooks ; <---- it has to be full path
	editor = nvim -c 'set filetype=gitcommit'
[user]
	email = a.michurin@gmail.com
	name = Alexey Michurin
[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
[url "git@github.com:"]
	insteadOf = https://github.com/
[commit]
	template = ~/.gitmessage
