[core]
	excludesfile = ~/.gitignoreglobal
	hookspath = /home/user/.git/hooks ; <---- it has to be full path
	editor = nvim -c 'set filetype=gitcommit'
[user]
	email = a.michurin@gmail.com
	name = Alexey Michurin
[url "git@github.com:"]
	insteadOf = https://github.com/
[commit]
	template = ~/.gitmessage
[diff]
	noprefix = true
[pager]
	log = diff-highlight | less
	show = diff-highlight | less
	diff = diff-highlight | less
[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
[color "diff"]
	meta = "bold cyan"
	old = red
	new = green
[color "diff-highlight"]
	oldNormal = red
	newNormal = green
	oldHighlight = "bold red #555555"
	newHighlight = "bold green #555555"
[alias]
	lg1 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(auto)%d%C(reset)' --all
	lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(auto)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)'
	lg = lg1
	up = !git fetch -p && git checkout origin/master && git checkout -B master && echo OK
