html, body {
  margin: 0;
  height: 100%;
  overflow: hidden;
  overscroll-behavior-x: contain;
}

body {
  background-color: #222;
}

#body {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: none;
}

@media (orientation: portrait) {
  #body {
    grid-template-columns: none;
    grid-template-rows: 1fr 1fr;
  }
}

#note {
  position: absolute;
  left: 5px;
  top: 5px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 1em;
  background-color: #ff0;
  border-radius: 2px;
  max-width: 60%;
  min-width: 5em;
  white-space: pre-line;
}

#game {
  overflow: auto;
  cursor: default;
  padding: 2px;
}

#info {
  display: grid;
  grid-template-columns: none;
  grid-template-rows: min-content auto min-content;
}

#chat {
  position: relative;
}

#jail {
  position: absolute;
  max-height: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  font-family: Arial, Helvetica, sans-serif;
}

#board {
  padding: 7px;
}

#top {
  display: grid;
  box-shadow: 0px 0px 4px 4px #fff;
  padding: 5px;
  margin: 8px;
  border: 2px solid #ccc;
  font-size: 70%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

#top-title {
  color: #ccc;
  text-align: center;
  border-style: solid;
  border-color: #ccc;
  border-width: 0 0 2px 0;
  padding: 0 0 2px 0;
  margin: 0 0 2px 0;
}

#top-content {
  display: grid;
  grid-template-columns: auto min-content;
  grid-template-rows: none;
}

#top-content div:nth-child(2n) {
  padding: 0 0 0 5px;
  text-align: right;
}

#top-content div:nth-child(2n+1) {
  overflow: hidden;
}

#typing {
  display: grid;
  padding: 5px;
  border: 2px solid #000;
  grid-template-columns: none;
  grid-template-rows: auto;
}

#typing-ctl {
  display: grid;
  grid-template-columns: auto min-content;
  grid-template-rows: none;
}

/* DEBUG div { border: 1px solid #000; } */

#game td {
  border: 1px solid #000;
  width: 20px;
  min-width: 20px;
  height: 20px;
  padding: 0;
  font-size: 14px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

#game table {
  border-collapse: collapse;
  border: 3px solid #000;
  align-self: center;
  margin: auto;
  user-select: none;
}

#text {
  font-size: 100%;
  float: left;
  box-sizing: border-box;
  width: 100%;
  background-color: #222;
  color: #fff;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
}

#name {
  font-size: 70%;
  font-weight: bold;
  float: left;
  box-sizing: border-box;
  width: 100%;
  background-color: #222;
  color: #fff;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
}

#color {
  opacity: 0%;
  float: left;
  -webkit-appearance: none;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  width: 2.7em;
  height: 0.7em;
}
#color::-webkit-color-swatch-wrapper {
  padding: 0;
}
#color::-webkit-color-swatch {
  border: none;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track, ::-webkit-scrollbar-corner {
  background-color: #222;
}

::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 5px;
}
