html, body {
  color: #eee;
  background-color: #222;
}

div, input {
  font-family: "Gill Sans", sans-serif;
  font-size: 100%;
}

input {
  outline: none;
}

#screen {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
}

#screen #space {
  flex: 1;
}

#screen #board {
  overflow-y: auto;
  min-height: 0;
  border: 3px solid #f00;
  border-radius: 0.5em;
  scrollbar-width: thin;
  scrollbar-color: #800 transparent;
}

#screen form {
  padding: 0;
  margin: 0;
}

#screen #input-block,
#screen #control-block {
  display: flex;
  flex-direction: row;
}

#screen #input-block #input,
#screen #control-block #name {
  flex: 1;
}

#color-button {
  position: relative;
  overflow: hidden;
}

#color {
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  width: 250%;
  height: 250%;
}

#users {
  position: fixed;
  display: block;
  max-height: 80vh;
  max-width: 80vw;
  box-sizing: border-box;
  overflow: auto;
  top: 0;
  right: 0;
  border: 3px solid #0f0;
  border-radius: 0.5em;
  scrollbar-width: thin;
  scrollbar-color: #800 transparent;
  background-color: rgba(0, 0, 0, .5);
}
