html, body {
  height: 100%;
}
#body {
  position: absolute;
  bottom: 0px;
  left: 3px;
  right: 3px;
}
#control {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

div, input {
  font-family: "Gill Sans", sans-serif;
  font-size: 100%;
}
input {
  box-sizing: border-box;
  outline: none;
  margin: 1px;
}
#input {
  width: 100%;
}
#name {
  width: 50%;
}
#color {
  user-select: none;
}
#status {
  font-size: 70%;
}

/* debug
div {
  padding: 3px;
  margin: 3px;
  border: 2px dotted #800;
}
*/
