#body {
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  float: left;
}

div {
  font-family: sans-serif;
  font-size: min(2.1vw, 21px);
  padding: min(1vw, 7px);
  text-align: center;
  margin: 3px;
  border-width: 0;
}

div.cell {
  background-color: #eee;
  border-radius: 20%;
}

div.today.cell {
  margin: 0px;
  border: 3px dashed #000;
  z-index: 1;
}

div.dayoff {
  color: #ccc;
}
