#body {
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  float: left;
}

div.cell {
  font-family: sans-serif;
  font-size: min(2.1vw, 21px);
  padding: min(1vw, 7px);
  margin: 0;
  border-width: 0;
  background-color: #eee;
  text-align: center;
  border-radius: 50%;
}

div.today.cell {
  padding: calc(min(1vw, 7px) + 4px);
  margin: -6px;
  border: 2px solid #000;
  z-index: 1;
}

div.dayoff {
  color: #ccc;
}
