body {
  background-color: #aaa;
  color: #000;
  font-family: sans-serif;
}

div {
  border-radius: .4vmin;
}

#game {
  position: relative;
  width: calc(16 * 4vmin);
  height: calc(20 * 4vmin);
  border-collapse: collapse;
  cursor: pointer;
  /* border: 1px solid #000; */
  padding: 0;
  margin: 0;
  float: left;
}

#game div {
  width: calc(4vmin - 3px);
  height: calc(4vmin - 3px);
  border: 1px solid #000;
  position: absolute;
}

#game div span {
  font-size: 3vmin;
  font-weight: bold;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#panel {
  float: left;
  cursor: default;
}

#score {
  border: 1px solid #000;
  min-width: 20vmin;
  width: fit-content;
  margin: 0 0 2vmin 2vmin;
  padding: 2vmin;
  background-color: #ccc;
}

#score .value {
  font-size: 3vmin;
  font-weight: bold;
}

#score .title {
  font-size: 2vmin;
  font-weight: bold;
}

#reset {
  border: 1px solid #000;
  margin: 0 0 2vmin 2vmin;
  padding: 2vmin;
  min-width: 20vmin;
  width: fit-content;
  background-color: #ccc;
  font-size: 2vmin;
  font-weight: bold;
  cursor: pointer;
}

#reset:hover {
  background-color: #eee;
}

#info {
  border: 1px dotted #000;
  margin: 0 0 0 2vmin;
  padding: 2vmin;
  min-width: 20vmin;
  width: fit-content;
  font-size: 1vmin;
}

/* DEBUGING */

#debug {
  clear: both;
  display: none;
}

#debug button {
  font-size: 3vmin;
}

#debug div {
  font-size: 3vmin;
  padding: 1px;
  border-style: solid;
  border-color: #777;
  border-width: 1px 0 0 0;
}

#debug pre {
  font-size: 2vmin;
  margin: 0;
  padding: 0;
}
